body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}
a{
    text-decoration: none;
}

.main-head{
    background-color: #fff;
}

.logo{
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo .accent{
    color: #2e2f42;
}

.page-nav .link{
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.page-nav .link:hover,
.page-nav .link:focus,
.page-nav .link:active{
    color: #404bbf;
}

.main-page-address .main-address-link{
    color: currentColor;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.main-page-address .main-address-link:hover,
.main-page-address .main-address-link:focus{
    color: #404bbf;
}

.main-page-body{
    background-color: #2E2F42;
}

.main-page-body .main-title{
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; 
    letter-spacing: 1.12px;
    text-align: center;
}

.main-page-body .main-btn{
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.64px;
    color: #fff;
    cursor: pointer;
}

.advant .advant-title{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.4px;
}

.advant .advant-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.our-team-inform{
    background-color: #F4F4FD;
}

.our-team li{
    background-color: #fff;
}

.team-title{
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}

.our-team .name-title{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.4px;
}

.our-team .name-text{
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.32px;
}

.portfolio .port-title{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: center;
}

.portfolio .port-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.footer{
    background-color: #2E2F42;
    color: #F4F4FD;
}

.footer .foot-text{
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.32px;
}

.foot-logo{
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.foot-accent{
    color: #f4f4fd;
}