*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}
a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

img{
    display: block;
    max-width: 100%;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-head{
    background-color: #fff;
}

.main-head .head-container{
    display: flex;
    justify-content: space-between;
}

/*.head-container-nav{
    display: flex;
    justify-content: space-between;
}

.head-container-address{
    display: flex;
    justify-content: space-between;
}*/

.logo{
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo .accent{
    color: #2e2f42;
}

.page-nav{
    display: flex;
}


.page-nav .link{
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.page-nav .link:hover,
.page-nav .link:focus,
.page-nav .link:active{
    color: #404bbf;
}

.main-page-address{
    font-style: normal;
}

.main-page-address .main-address-link{
    color: currentColor;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.main-page-address .main-address-link:hover,
.main-page-address .main-address-link:focus{
    color: #404bbf;
}

.main-page-body{
    background-color: #2E2F42;
}

.main-page-body .main-title{
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; 
    letter-spacing: 0.02em;
    text-align: center;
}

.main-page-body .main-btn{
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}

.main-page-body .main-btn:hover,
.main-page-body .main-btn:focus{
    background-color: #404BBF;
}

.advant .advant-title{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
}

.advant .advant-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our-team-inform{
    background-color: #F4F4FD;
}

.our-team li{
    background-color: #fff;
}

.team-title{
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.our-team .name-title{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
}

.our-team .name-text{
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}

.portfolio .port-title{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.portfolio .port-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer{
    background-color: #2E2F42;
    color: #F4F4FD;
}

.footer .foot-text{
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}

.foot-logo{
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.foot-accent{
    color: #f4f4fd;
}